.footer{
    background-color: #2E2F42 ;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-text{
color: #F4F4FD ;
letter-spacing: 0.02em;
line-height: 1.5;
max-width: 264px;
}
.footer .logo{
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}