.hero{
    background-color: #2E2F42 ;
}
.hero-tittle{
   color: #FFFFFF; 
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   font-weight: 700;
   letter-spacing: 0.02em;
}
.hero-btn{
    background-color:#4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404bbf;
}