.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-project {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;
    margin-bottom: 8px;
}

.portfolio-type {
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
}
.portfolio-meta{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
